<!DOCTYPE html>
<html lang="en">
<!--  Head -->
<%- include('partials/head', {title}) %>
<body>
    <!-- Header -->
    <%- include('partials/header') %>
    <!-- TITLE SECTION -->
    <section class="title-section">
        <div class="all-info">
          <h1><span class="break-line">¿QUÉ ES</span> BLINDAJE MÉDICO?</h1>
          <p>Es el resguardo del prestigio, la profesión y los derechos de cualquier profesional de la salud.</p>
          <p>Somos la única opción para quien realmente quiere blindarse, de la mano del mejor grupo de especialistas y peritos.</p>
        </div>
    </section>
    <section class="cover-section">
        <h1 class="standard-title"><span class="break-line">¿QUÉ CUBR<span class="second-underline-title">E EL</span></span> BL<span class="first-underline-title">INDA</span>JE?</h1>
        <ul class="cover-list">
            <li>Incluimos el dolo eventual.</li>
            <li>Pago de gastos ilimitados.</li>
            <li>Peritos especialistas ilimitados.</li>
            <li>Defensa ilimitada preventiva y correctiva.</li>
            <li>Defensa del prestigio en medios de comunicación ilimitada.</li>
            <li>Reconvención (contrademanda).</li>
            <li>Blindaje documental mediante documentos, kit de blindaje, capacitaciones, asesorías ilimitadas en todas las áreas del derecho.</li>
            <li>Defensa por socios accionistas de la firma, especialistas en la materia y blindaje con respaldo de 5 millones de pesos para pago de reparación del daño y/o daños y perjuicios.</li>

        </ul>
    </section>
    <!-- Footer -->
    <%- include('partials/footer') %>
</body>
<script src="/javascripts/botIntegration.js" type="text/javascript" defer></script>

</html>